#section1{
    background-color: #143F6B;
    padding-bottom: 10%;
    padding-top: 10%;
    
}
#nav{
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}
#section2{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #F55353;
    padding-left: 5%;
    padding-right: 5%;
}
#section3{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #FEB139;
}
#section4{
    background-color: #F6F54D;
    padding-top: 10%;
    padding-bottom: 10%;
}
#section5{
    background-color: #FCE38A;
    padding-top: 10%;
    padding-bottom: 10%;
}
#label{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 10%;

}
#input{
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
#section1:hover{
    color: orange;
}
body{
    font-family: "Montserrat-regular 400;"
}
.text-white:hover{
    color: orange;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5rem;
}